@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
    :root {
        --grayscale-white: hsla(0, 0%, 100%, 1);
        --grayscale-pale-gray: hsla(241, 43%, 99%, 1);
        --grayscale-weak-gray: hsla(241, 33%, 97%, 1);
        --grayscale-lightgray: hsla(240, 12%, 89%, 1);
        --grayscale-neutral-gray: hsla(240, 6%, 71%, 1);
        --grayscale-gray: hsla(240, 3%, 45%, 1);
        --grayscale-deep-gray: hsla(240, 4%, 31%, 1);
        --grayscale-dark-gray: hsla(240, 3%, 16%, 1);
        --grayscale-black: hsla(0, 0%, 0%, 1);

        --line: rgba(255, 255, 255, 0.2);
        --orange: #F7941D;

        --gold1: #DAA520;
        --gold2: #FFD700;

        --green: rgb(50, 168, 102);
        --red: rgb(238, 40, 16);

        --switch-bg: rgb(224, 224, 231);
    }
}

@font-face {
    font-family: 'MaplestoryOTFBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}