@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
    :root {
        --grayscale-white: hsla(0, 0%, 100%, 1);
        --grayscale-pale-gray: hsla(241, 43%, 99%, 1);
        --grayscale-dark-pale: rgb(239, 242, 245);
        --grayscale-weak-gray: hsla(241, 33%, 97%, 1);
        --grayscale-lightgray: hsla(240, 12%, 89%, 1);
        --grayscale-neutral-gray: hsla(240, 6%, 71%, 1);
        --grayscale-gray: hsla(240, 3%, 45%, 1);
        --grayscale-deep-gray: hsla(240, 4%, 31%, 1);
        --grayscale-dark-gray: hsla(240, 3%, 16%, 1);
        --grayscale-black: hsla(0, 0%, 0%, 1);

        --chart-shadow: 0 1px 2px 0 rgba(88,102,126,.12), 0 4px 24px 0 rgba(88,102,126,.08);
        --primary: #338a3e;
        --primary-light: #6fbf73;
        --primary-dark: #285e29;
        --primary-shadow-input: rgb(223, 247, 236);
        --primary-disable: rgba(51, 138, 62, 0.6);



        --line: rgba(255, 255, 255, 0.2);
        --orange: #F7941D;


        --gold1: #DAA520;
        --gold2: #FFD700;


        --red: rgb(238, 40, 16);

        --switch-bg: rgb(224, 224, 231);
        --dialog-overlay: rgba(0, 0, 0, 0.4);


        --bg: var(--grayscale-white);
        --border: var(--grayscale-dark-pale);

        --button: var(--primary);
        --button-hover: var(--primary-light);

        --button-secondary: var(--grayscale-white);
        --button-secondary-hover: var(--primary-light);


        --modal-bg: var(--grayscale-white);
        --modal-title: var(--grayscale-deep-gray);
        --input-value-text: var(--grayscale-deep-gray);
        --input-label-text: var(--grayscale-black);
        --input-readOnly: var(--grayscale-pale-gray);
        --icon-color: var(--grayscale-white);
        --focus-input-shadow: var(--primary-shadow-input);

    }
}

{
    --bg: var(--grayscale-white)
;
    --modal-bg: var(--grayscale-white)
;
    --modal-title: var(--grayscale-deep-gray)
;
    --input-value-text: var(--grayscale-deep-gray)
;
    --input-label-text: var(--grayscale-black)
;
    --input-readOnly: var(--grayscale-pale-gray)
;
    --icon-color: var(--grayscale-white)
;
}
{
    --bg: var(--grayscale-black)
;
    --modal-bg: var(--grayscale-dark-gray)
;
    --modal-title: var(--grayscale-white)
;
    --icon-color: var(--grayscale-white)
;
}

@font-face {
    src: url('/fonts/Inter-Regular.ttf') format('ttf');
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

.hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

@layer base {
    html {
        font-family: "Inter", system-ui, sans-serif;
    }
}